@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Meera+Inimai&display=swap');

*{
  font-family: "Meera Inimai", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}